DEPLOY_HOST=__HOST__
DEPLOY_SSH_TARGET=${MINTTI_DEPLOY_CUSTOMER_DEFAULT_SSH_TARGET:-__HOST__}
DEPLOY_ROLE=timo-customer
DEPLOY_ROOT=${MINTTI_DEPLOY_DEFAULT_ROOT:-/srv/mintti-root}
DEPLOY_COMPOSE_FILE=deploy/compose/customer-vm.compose.yaml
DEPLOY_STACK_NAME=mintti-__CUSTOMER__

CUSTOMER_SLUG=__CUSTOMER__
MINTTI_FRONTEND_PORT=3000
MINTTI_FRONTEND_PROXY_TARGET=${MINTTI_SHARED_API_BASE_URL:-http://ilmo-1:8000}